.App {
  text-align: center;
  background-color: #53B587;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.app_header{
  width: 600px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
  margin-bottom: 1em;
}

.app_header h1{
  margin-bottom: .7em;
}

.todo_form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #30333a;
  padding: 1em;
  margin-bottom: .7em;
  width: 100%;
}

.list_container{
  width: 600px;
  padding: .5em 1em;
  background-color: #282c34;
  margin-bottom: 1em;
}

.label_form{
  font-size: 1.3em;
  margin-right: .25em;
}

.input_text{
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #fff ;
  caret-color: #fff ;
  color: #fff ;
  padding: .5em;
  font-size: 1.1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  width: 100%;
  transition: ease-in-out 200ms;
}

.input_text:focus{
  border-bottom: solid 2px #53B587 ;
  caret-color:#53B587 ;
  color: #53B587 ;

}

.form_button{
  padding: .5em;
  font-size: 1.1em;
  margin-left: .25em;
  background: transparent;
  border: solid #fff 2px;
  border-radius: 8px;
  color: #ffF;
  transition: ease-in-out 200ms;
}

.form_button:hover{
  border: solid #93dfbb 2px;
  color: #93dfbb;
}

.form_button:active{
  border: solid #53B587 2px;
  color: #53B587;
}

.list_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #30333a;
  padding: 1em;
  margin: .5em 0;
}

.app_footer{
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  justify-content: space-between;
  padding: 1em;
  width: 600px;
}

.app_select{
  background: #30333a;
  border: none;
  border-radius: 8px;
  color: #fff;
  margin-left: 4px;
  padding: .5em;
}